---
title: 'Links'
layout: default
permalink: /links/index.html
redirect_from: /lk
---

<style type="text/css">
{% include "links.css" %}
</style>

<img alt="avatar" class="profile-pic u-photo" src="{{site.profileImage}}?s=512" height="128" width="128" crossorigin="anonymous"/>
<p>{{ links.description }}</p>
<ul class="pinned-links">
{% for link in links.featured %}
	<li>
		<a href="{{link.url}}" class="btn-link">{{link.title}}</a>
	</li>
{% endfor %}
</ul>

<h3>Recently Saved Links</h3>

<ul class="recent-links">
{%- assign recentLinks = collections.links | reverse | slice: 0, 9 %}
{%- for link in recentLinks %}
{%- assign reference = link.data.responseData %}
{%- assign hasContent = link.templateContent | strip | default: "_false_" %}
	<li>
		<a href="{% if hasContent == "_false_" %}{{reference.url}}{% else %}{{link.url}}{% endif %}">
			{{reference.plaintextSummary}}
		</a>
	</li>
{%- endfor %}
</ul>
