{%- assign fullUrl = page.url | addBaseUrl -%}
{%- assign finalTitle = title | default : site.title -%}
{%- assign collectionData = collections.all | getCollectionItem: page -%}
{%- if page.inputPath contains ".md" -%}
    {%- assign pageContent = collectionData.templateContent | strip_html | joinLines | truncatewords: 75 | escape -%}
{%- else -%}
    {%- assign pageContent = site.description | markdownify -%}
{%- endif -%}
{%- if title or defaultTitle %}
<title>{{title or defaultTitle}} | {{ site.title }}</title>
{%- else %}
<title>{{ site.title }} | {{ site.description | markdownify }}</title>
{%- endif %}
<meta name="generator" content="Eleventy" />
{%- if excludeFromSitemap %}
<meta name="robots" content="noindex">
{%- endif %}
<meta property="og:title" content="{{finalTitle}}" />
{%- if author %}
<meta name="author" content="{{ author }}" />
{%- endif %}
<meta property="og:locale" content="en_US" />
<meta name="description" content="{{ pageContent | strip_html }}" />
<meta property="og:description" content="{{ pageContent | strip_html }}" />
<link rel="canonical" href="{{ collectionData.data.canonical_url | default : fullUrl}}" />
<meta property="og:url" content="{{ collectionData.data.canonical_url | default : fullUrl}}" />
<meta property="og:site_name" content="{{ site.title }}" />
{%- if image %}
<meta property="og:image" content="{{ image | addBaseUrl }}" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date | fromUTC | trimTime | dateToRfc3339 }}" />
<meta name="twitter:card" content="summary_large_image" />
{%- else %}
<meta name="twitter:card" content="summary" />
{%- endif %}
<meta name="twitter:site" content="@ajciccarello" />
{%- if author %}
<meta name="twitter:creator" content="@Anthony Ciccarello" />
{%- endif %}
<script type="application/ld+json">
{% json %}
{
    "publisher":{
        "@type":"Organization",
        "logo":{
            "@type":"ImageObject",
            "url":"https://secure.gravatar.com/avatar/17d306899b5f20953440eca1d65d34e0?s=256"
        }{%- if page.inputPath contains ".md" -%},
        "name":"Anthony Ciccarello"
        {%- endif -%}
    },
    {%- if page.inputPath contains ".md" -%}
    "author": {
        "@type": "Person",
        "name":"Anthony Ciccarello"
    },
    {%- endif -%}
    "headline":"{{finalTitle}}",
    {% if date %}
    {% comment %}check for date frontmatter but use parsed page.date {% endcomment %}
    "datePublished": "{{ page.date | fromUTC | trimTime | dateToRfc3339 }}",
    {% endif %}
    "description":"{{ pageContent | strip_html }}",
    {% if page.url == "/" %}
    "@type":"WebSite",
    {% elsif page.inputPath contains "_posts" %}
    "mainEntityOfPage":{"@type":"WebPage", "@id": "{{ collectionData.data.canonical_url | default : fullUrl }}"},
    "@type":"BlogPosting",
    {% else %}
    "@type":"WebPage",
    {% endif %}
    "url":"{{ collectionData.data.canonical_url | default : fullUrl }}",
    {% if image %}
    "image":"{{ image | addBaseUrl }}",
    {% endif %}
    {%- if page.inputPath contains "xx.md" -%}
    "name":"Anthony Ciccarello",
    {%- endif -%}
    "@context":"http://schema.org"
}
{% endjson %}</script>
