{%- assign fullUrl = page.url | addBaseUrl -%}
{%- assign defaultedTitle = title | default: responseData.plaintextSummary | default: defaultTitle | default : site.title -%}
{%- if page.inputPath contains ".md" and collectionData -%}
    {%- assign pageContent = collectionData.templateContent | joinLines | strip_html | truncate: 150 | escape | replace: '\\', '&bsol;' -%}
{%- else -%}
    {%- assign pageContent = site.description | markdownify | joinLines | strip_html -%}
{%- endif -%}
{%- if defaultedTitle == title %}
<title>{{defaultedTitle}} | {{ site.title }}</title>
{%- elsif defaultedTitle != site.title %}
<title>{{defaultedTitle}}{% if pageContent %}: {{ pageContent | truncate: 50 }} {% endif %} | {{ site.title }}</title>
{%- else %}
<title>{{ site.title }} | {{ site.description | markdownify }}</title>
{%- endif %}
<meta name="generator" content="{{ eleventy.generator }}" />
{%- if noindex or excludeFromSitemap or eleventyExcludeFromCollections %}
<meta name="robots" content="noindex,follow">
{%- endif %}
<meta property="og:title" content="{{defaultedTitle}}" />
{%- if author.name %}
<meta name="author" content="{{ author.name }}" />
{%- endif %}
<meta name="description" property="og:description" content="{{ pageContent }}" />
<link rel="canonical" property="og:url" href="{{ collectionData.data.canonical_url | default : fullUrl}}" />
{%- assign links = page.url | locale_links %}
{%- for link in links %}
<link rel="alternate" href="{{link.url | addBaseUrl}}" hreflang="{{link.lang}}">
{%- endfor -%}
<link rel="alternate" href="{{page.url | locale_url: 'en-US' | addBaseUrl}}" hreflang="x-default" />
<meta property="og:site_name" content="{{ site.title }}" />
{%- if page.inputPath contains "posts" and page.inputPath contains ".md" %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ page.date | formatMachineDate }}" />
{%- endif %}
{%- if image %}
<meta property="og:image" content="{{ image | addBaseUrl }}" />
{%- endif %}
<script type="application/ld+json">
{% json %}
{
    "publisher":{
        "@type":"Organization",
        "logo":{
            "@type":"ImageObject",
            "url":"{{site.profileImage}}?s=256"
        }{%- if page.inputPath contains ".md" -%},
        "name":"Anthony Ciccarello"
        {%- endif -%}
    },
    {%- if page.inputPath contains ".md" -%}{% comment %}TODO: make this use author property{% endcomment %}
    "author": {
        "@type": "Person",
        "name":"Anthony Ciccarello",
        "url": "https://www.ciccarello.me"
    },
    {%- endif -%}
    "headline":"{{defaultedTitle | strip_html }}",
    {% if date %}
    {% comment %}check for date frontmatter but use parsed page.date {% endcomment %}
    "datePublished": "{{ page.date | formatMachineDate }}",
    {% endif %}
    "description":"{{ pageContent }}",
    {% if page.url == "/" %}
    "@type":"WebSite",
    {% elsif page.inputPath contains "posts/recipe" and page.inputPath contains ".md" %}
    "@type": "Recipe",
    "name":"{{defaultedTitle}}",
    {% elsif page.inputPath contains "posts" and page.inputPath contains ".md" %}
    "mainEntityOfPage":{"@type":"WebPage", "@id": "{{ collectionData.data.canonical_url | default : fullUrl }}"},
    "@type":"BlogPosting",
    {% else %}
    "@type":"WebPage",
    {% endif %}
    "url":"{{ collectionData.data.canonical_url | default : fullUrl }}",
    {% if image %}
    "image":"{{ image | addBaseUrl }}",
    {% endif %}
    {%- if page.inputPath contains "xx.md" -%}
    "name":"Anthony Ciccarello",
    {%- endif -%}
    "@context":"http://schema.org"
}
{% endjson %}</script>
